* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vw;
  background-color: #C8C2AE;
}

/* HEADER & FOOTER */
header,
footer {
  z-index: 10;
  font-weight: 900;
  padding: 0.5rem 0;
  color: #0EB1D2;
  background-color: #1a2537;
}

footer,
.menu-content,
.tech-used {
  text-align: center;
}

/* NAVBAR */
input#menu {
  display: none;
}

label {
  padding-left: 2rem;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #0EB1D2;
  background-color: #1a2537;
  transition: 1s ease;
}

nav ul li a:hover {
  cursor: pointer;
  height: inherit;
  background-color: #0EB1D2;
  color: #1a2537;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

input:checked ~ .menu-content {
  max-height: 300px;
}


.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(assets/portland-downtown.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}


.hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    background-color: #0EB1D2;
  }

  .hero .btn:hover {
    background-color: #1a2537;
  }


h2,
h3 {
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
}

#projects h2 {
  color: #fff;
}

/* SECTION */

  #projects, #about {
  padding: 2rem 1rem 1.5rem 1rem;
  color: #1a2537;
  background-color: #fff;
  margin: 0 auto;
}

#projects {
  background-color: #C8C2AE;
}

p {
  font-size: 1.2rem;
  max-width: 960px;
  margin: 10px auto;
  font-weight: 600;
  line-height: 1.7;
  padding: 10px;
}
.project-container {
  box-shadow: 7px 29px 65px 0px rgba(0,0,0,0.24);
  background-color: white;
  width: 80%;
  margin: 50px auto 50px auto;
  height: 100%;
}

.screenshot {
  width: 100%;
}


.tech-container {
  margin: auto;
  display: flex;
  align-items: center;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.tech-icon {
  min-width: 78px;
}

.tech-icon img {
  height: 2em;
}

.tech-icon p {
  margin: 0;
}

.project-links {
  margin: 1.6rem 0 1rem 0;
  text-align: center;
}

.link {
  margin: 1rem;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #1a2537;
  padding: 0.5rem 0.8rem;
  border: #1a2537 2px solid;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 4px #1a2537;
  box-shadow: 0 2px 4px #1a2537;
}

.link:hover {
  background-color: #1a2537;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    display: none;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
footer.row {
  max-width: 100%;
  height: auto;
}

#footer {
  margin-top: 150px;
  background-color: #8AB9B5;
  color: white;
  height: 125px;
  padding: 10px;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;

}

.social-container {
    text-align: center;
}

.social-container>a {
    margin: 0 20px;
    color: white;
}

.copyright {
    text-align: center;
    color: white;
    margin-top: 10px;;
}




@media (min-width: 768px) {
  header {
    margin: 0;
    height: auto;
  }

  .headline {
    top: 30%;
  }
  .icon-list {
    display: inline-flex;
  }
  .project-container {
    margin: 1.5rem auto;
  }

  li {
    float: left;
    width: 10vw;
  }

  li a {
    display: block;
    width: 100%;
    padding: ;
    font-size: 1.5rem;
  }

  .menu-content {
    display: inline-block;
    max-height: 3rem;
  }

  label {
    display: none;
  }
}


@media (max-width: 767px) {
  
  .project-container {
    width: 100%;
  }

}